<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/a2077fc4c2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


    <title>Bienvenidos a Mercado Liebre</title>
</head>
    <body>
        <header>
        <div class="main-header-top-bar">
            <img class="logo" src="img/logo-mercado-liebre.svg" alt="">
            <div class="busqueda-bar">
                <div class="button-search">
            <input type="text" class="nav-search-input"  placeholder="Buscar productos, marcas y más…" class="submit">
             </div>
           <!-- <div class ="button"><i class="fa fa-search"></i></div> -->
        </div>
            <p class="compra-cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito </p>
        </div>  
            <nav class="main-navbar">
                <ul class="barra-izq">
                    <li><a href=""> Ofertas</a></li>
                    <li><a href=""> Tiendas oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
                <ul class="barra-der">
                    <li><a href="/register"> Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                    <li><a href="/login"> Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                    <li><a href=""> Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
                </div>
        </header>
        <main>  
            <form class="register" action="/" method="GET">
            <input type="text" name="nombre" id="nombre" placeholder="Nombre y apellido" required>
            <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario" required>
            <h3>Fecha de nacimiento</h3>
            <input type="date" name="fecha-nacimiento" id="fecha-nacimiento" placeholder="dd/mm/aaaa" required>
            <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio" required>
            <h3>Perfil del usuario</h3>
            <div class="box-button">
                <div class="button-opciones">
                    <input type="radio" name="perfil" id="comprador" value="Comprador">
                    <label for="comprador">Comprador</label>
                </div>
                <div class="button-opciones">
                    <input type="radio" name="perfil" id="vendedor" value="Vendedor">
                    <label for="vendedor">Vendedor</label>
                </div>
            </div>
            <h3>Intereses</h3>
            <br>
            <div class="button-opciones">
                <input type="checkbox" name="interes" id="electro" value="Electro">
                <label for="electro">Electro</label>
            </div>
            <div class="button-opciones">
                <input type="checkbox" name="interes" id="Moda" value="Moda">
                <label for="Moda">Moda</label>
            </div>
            <div class="button-opciones">
                <input type="checkbox" name="interes" id="Hogar" value="Hogar">
                <label for="Hogar">Hogar</label>
            </div>
            <div class="button-opciones">
                <input type="checkbox" name="interes" id="Jugueteria" value="Jugueteria">
                <label for="Jugueteria">Juguetería</label>
            </div>
            <div class="button-opciones">
                <input type="checkbox" name="interes" id="Vida sana" value="Vida sana">
                <label for="Vida sana">Vida sana</label>
            </div>
            <br>
            <h3>Foto de perfil</h3>
            <br>
            <input type="file" name="foto-usuario" id="foto-usuario" accept="image/*">
            <input type="password" name="password" id="password" placeholder="Contraseña" required>
            <input type="password" name="password-confirm" id="password-confirm" placeholder="Confirmar contraseña" required>
            <input class="button-form" type="submit" value="Enviar" href="/">
            <input class="button-form" type="reset" value="Limpiar">
          
        </form>
        </main>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <footer>
            <ul>
                <li>
                    <a href=""><i class="fa-sharp fa-solid fa-credit-card"></i></a>
                    <p>
                        <strong>Pagá con tarjeta o en efectivo</strong>
                        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!
                    </p>
                </li>
                <li>
                    <a href=""><i class="fa-sharp fa-solid fa-gift"></i></a>
                    <p>
                        <strong>Envío gratis desde $ 2.500</strong>
                        Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.
                    </p>
                </li>
                <li>
                    <a href=""><i class="fa-sharp fa-solid fa-user-shield"></i></a>
                    <p>
                        <strong>Seguridad, de principio a fin</strong>
                        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegido.
                    </p>
                </li>
            </ul>
            <strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong>
        </footer>
    </body>
</html>